.header {
    height: 34vw;
    margin: 30px auto;
    position: relative;
    overflow: hidden; /* Ensure no overflow from the carousel */
}

.header-carousel img {
    width: 100%;
    height: 34vw;
    object-fit: cover;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    z-index: 1;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.header-contents p {
    color: white;
    font-size: 1vw;
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header-contents button:hover {
    background-color: #f1f1f1;
}

@media (max-width: 1050px) {
    .header {
        height: 40vw;
    }

    .header-carousel img {
        height: 40vw;
    }

    .header-contents {
        max-width: 45%;
        left: 4vw;
    }
}

@media (max-width: 750px) {
    .header {
        height: 50vw;
    }

    .header-carousel img {
        height: 50vw;
    }

    .header-contents {
        max-width: 65%;
        left: 3vw;
    }

    .header-contents h2 {
        font-size: max(5vw, 20px);
    }

    .header-contents p {
        display: none;
    }

    .header-contents button {
        padding: 2vw 4vw;
        font-size: max(2vw, 13px);
    }
}

@media (max-width: 480px) {
    .header {
        height: 60vw;
    }

    .header-carousel img {
        height: 60vw;
    }

    .header-contents {
        max-width: 75%;
        left: 2vw;
    }

    .header-contents h2 {
        font-size: max(6vw, 18px);
    }

    .header-contents button {
        padding: 3vw 5vw;
        font-size: max(2.5vw, 12px);
    }
}
